---
import MainLayout from "../layouts/MainLayout.astro";
import AbonnerPackages from "../components/AbonnerPackages.astro";
import Sektion2 from "../components/Sektion2_Abonner.astro";
---

<MainLayout title="Abonner">
  <section>
    <AbonnerPackages />
    <Sektion2 />
  </section>
</MainLayout>
