---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Hero from "../components/Hero.astro";
import Sektion1 from "../components/Sektion1_Forside.astro";
import Sektion2 from "../components/Sektion2_Forside.astro";
import Sektion3 from "../components/Sektion3_Forside.astro";
import Sektion4 from "../components/Sektion4_Forside.astro";
import Sektion5 from "../components/Sektion5_Forside.astro";
import Sektion6 from "../components/Sektion6_Forside.astro";
import Sektion7 from "../components/Sektion7_Forside.astro";
import Sektion9 from "../components/Sektion9_Forside.astro";
---

<MainLayout title="Homepage">
  <section>
    <Hero />
    <Sektion1 />
    <Sektion2 />
    <Sektion3 />
    <Sektion4 />
    <Sektion5 />
    <Sektion6 />
    <Sektion7 />
    <Sektion9 />
  </section>
</MainLayout>
