---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Hero from "../components/Hero.astro";
import Sektion1 from "../components/Sektion1_Forside.astro";
import Sektion2 from "../components/Sektion2_Forside.astro";
import Sektion3 from "../components/Sektion3_Forside.astro";
import Sektion4 from "../components/Sektion4_Forside.astro";
import Sektion5 from "../components/Sektion5_Forside.astro";
import Sektion6 from "../components/Sektion6_Forside.astro";
import Sektion7 from "../components/Sektion7_Forside.astro";
import Sektion8 from "../components/Sektion8_Forside.astro";
import Sektion9 from "../components/Sektion9_Forside.astro";
---

<MainLayout
  title="Homepage"
  description="Få et indblik i Eurowomans digitale univers"
  ogtitle="Eurowoman invitere dig til at få de nyeste ekslusive indblik i vores nyeste magasin"
  ogdescription="Eurowomans digitale univers invitere brugerne på et indblik af indholdet i vores nyeste blad. Læs mere om ekslusive interviews, sneakpeak af vores sociale medier og meget."
>
  <section>
    <Hero />
    <Sektion1 />
    <Sektion2 />
    <Sektion3 />
    <Sektion4 />
    <Sektion5 />
    <Sektion6 />
    <Sektion7 />
    <Sektion8 />
    <Sektion9 />
  </section>
</MainLayout>

<script>
  const password = "Eurowoman";
  const userPassword = localStorage.getItem("password");

  if (userPassword !== password) {
    const enteredPassword = prompt("Enter the password to acces this site:");
    if (enteredPassword !== password) {
      alert("Incorrect password!");
      window.location.href = "https://isitfridayyet.net/"; // Redirect or block access
    } else {
      localStorage.setItem("password", enteredPassword);
    }
  }
</script>

<!-- <script>
  const password = "Eurowoman";
  const userPassword = localStorage.getItem("password");

  if (userPassword !== password) {
    let enteredPassword = null;

    try {
      // Try showing the prompt
      enteredPassword = prompt("Enter the password to access this site:");
    } catch (error) {
      console.error("Prompt failed or was blocked by the browser.");
    }

    // Handle cases where prompt is not supported
    if (!enteredPassword) {
      alert("Password prompt is not supported on your browser!");
      window.location.href = "https://isitfridayyet.net/";
    } else if (enteredPassword !== password) {
      alert("Incorrect password!");
      window.location.href = "https://isitfridayyet.net/";
    } else {
      localStorage.setItem("password", enteredPassword);
    }
  }
</script> -->
