---
import MainLayout from "../layouts/MainLayout.astro";
import Sektion1 from "../components/Sektion1_Kontakt.astro";
import Sektion2 from "../components/Sektion2_Kontakt.astro";
---

<MainLayout title="Kontakt">
  <section>
    <Sektion1 />
    <Sektion2 />
  </section>
</MainLayout>
