---
import MainLayout from "../layouts/MainLayout.astro";
import Sektion1 from "../components/Sektion1_Kontakt.astro";
---

<MainLayout title="Kontakt">
  <section>
    <Sektion1 />
  </section>
</MainLayout>
