---
import AbonnerCard from "../components/AbonnerCard.astro";
---

<section>
  <AbonnerCard
    url="#"
    cardimage="Abonner_img.webp"
    cardimagealt="Eurowoman grafisk display af hvad abonnementet indeholder"
    abonnementtype="MÅNEDLIGT ABONNEMENT"
    inkluderet="+ Gratis digitale udgaver hver måned"
    pris="89,95 DKK/per. måned"
    badgerabat="false"
  />
  <br />
  <AbonnerCard
    url="#"
    cardimage="Abonner_img.webp"
    cardimagealt="Eurowoman grafisk display af hvad abonnementet indeholder"
    abonnementtype="12 NUMRE AF EUROWOMAN"
    inkluderet="+ Gratis digitale udgaver hver måned"
    pris="499 DKK"
    badgerabat="true"
    badgerabatsats="/spar 764 DKK"
  />
  <br />
  <AbonnerCard
    url="#"
    cardimage="Abonner_img.webp"
    cardimagealt="Eurowoman grafisk display af hvad abonnementet indeholder"
    abonnementtype="6 NUMRE AF EUROWOMAN"
    inkluderet="+ Gratis digitale udgaver hver måned"
    pris="259 DKK"
    badgerabat="true"
    badgerabatsats="/spar 352 DKK"
  />
  <br />
  <AbonnerCard
    url="#"
    cardimage="Abonner_img.webp"
    cardimagealt="Eurowoman grafisk display af hvad abonnementet indeholder"
    abonnementtype="6 NUMRE AF EUROWOMAN"
    inkluderet="+ Gratis digitale udgaver hver måned"
    pris="159 DKK"
    badgerabat="true"
    badgerabatsats="/spar 146 DKK"
  />
</section>
