---

---

<section class="p-3 pr-3 pt-24 pb-48">
  <h1
    class="font-IvyOra text-BW-950 font-light text-h3-mobile pb-6 w-[400px] md:text-h2-desktop md:w-[880px]"
  >
    Siden 1998 har EUROWOMAN været toneangivende inden for mode og skønhed og
    hyldet seje kvinder (og mænd) med noget på hjerte. I dag er vi en del af
    Egmont Story House.
  </h1>
  <h1
    class="font-IvyOra text-BW-950 font-light text-h3-mobile w-[400px] md:text-h2-desktop md:w-[880px]"
  >
    Hvert måned udgiver vi et blad et højt visuelt og æstetisk niveau, som giver
    tid til selvforkælelse og fordybelse i en travl hverdag. Vi glæder os til at
    underholde og inspirere dig.
  </h1>
</section>
