---
import { Image } from "astro:assets";
import billede1 from "../assets/images/billede1.webp";
import billede2 from "../assets/images/billede2.webp";
import billede3 from "../assets/images/billede3.webp";
import billede4 from "../assets/images/billede4.webp";
---

<section class="pl-6 pr-6 bg-BW-50 pb-48">
  <!-- Section Heading -->
  <div class="text-right">
    <h1 class="text-h1-mobile font-IvyOra text-BW-950 md:text-h1-desktop">
      MEST LÆSTE
    </h1>
    <h2
      class="text-p-M-mobile font-Brandon text-BW-950 font-light md:text-p-L-desktop"
    >
      I Eurowoman December 2024
    </h2>
  </div>

  <article class="bg-BW-50">
    <!-- Grid Container -->
    <div
      class="grid grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-12 max-w-screen-xl mx-auto"
    >
      <!-- Image 1 -->
      <div class="relative flex flex-col overflow-hidden">
        <Image
          src={billede1}
          alt="Billede 1"
          class="w-full h-auto lg:h-[68vh] object-cover transition-transform duration-500 ease-in-out transform hover:scale-105"
        />
        <p
          class="font-Brandon font-light text-p-M-mobile italic md:text-p-L-desktop"
        >
          Det startede med et armbånd – nu har de succes i hele verden
        </p>
      </div>
      <!-- Image 2 -->
      <div class="relative flex flex-col overflow-hidden">
        <Image
          src={billede2}
          alt="Billede 2"
          class="w-full h-auto lg:h-[68vh] object-cover transition-transform duration-500 ease-in-out transform hover:scale-105"
        />
        <p
          class="font-Brandon font-light text-p-M-mobile italic md:text-p-L-desktop"
        >
          ”Det er første gang i 13 år, jeg føler, at mit hjem er en rigtig base”
        </p>
      </div>
      <!-- Image 3 -->
      <div class="relative flex flex-col overflow-hidden">
        <Image
          src={billede3}
          alt="Billede 3"
          class="w-full h-auto lg:h-[68vh] object-cover transition-transform duration-500 ease-in-out transform hover:scale-105"
        />
        <p
          class="font-Brandon font-light text-p-M-mobile italic md:text-p-L-desktop"
        >
          Opnå vinterens flotte glossy hair med disse 3 tips
        </p>
      </div>
      <!-- Image 4 -->
      <div class="relative flex flex-col overflow-hidden">
        <Image
          src={billede4}
          alt="Billede 4"
          class="w-full h-auto lg:h-[68vh] object-cover transition-transform duration-500 ease-in-out transform hover:scale-105"
        />
        <p
          class="font-Brandon font-light text-p-M-mobile italic md:text-p-L-desktop"
        >
          Modeekspert: Derfor udstråler denne modetrend rigdom
        </p>
      </div>
    </div>
  </article>
</section>
