---
import { Image } from "astro:assets";
import Grafik from "../assets/images/Sektion9_grafik.webp";
---

<section class="pt-24 pb-24">
  <article class="w-full sm:w-3/5 md:w-full lg:w-1/8">
    <Image
      src={Grafik}
      alt="Eurowoman grafisk element"
      class="block w-full h-auto"
    />
  </article>
</section>
